<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="GuestMaster.master.cs" Inherits="FinalProjectPSD_LAB.MasterPage.GuestMaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">

        <div class="NavBar">

        </div>

        <div class="ContentBody">
            <asp:ContentPlaceHolder ID="GuestMasterContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>